---
import "../styles/gallery.scss";
import Content from "@/layouts/content.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import TagsContainer from "@/components/TagsContainer";
import GalleryItem from "@/components/GalleryItem";
import Featured from "@/components/Featured";
const projects = await getCollection("work");
const featured = await getCollection("featured");
const postTags = projects.map(({ data }) => data.tags);
const uniqueTags = (): string[] => {
  let uniqueValues = [...new Set(postTags.map((arr) => arr).flat())];
  return uniqueValues as string[];
};

---
<Content title="Work">
  <section class="flex flex-col px-4 md:px-0 bg-accent">
    <h2 class="mx-auto pt-14 text-slate-600">Featured Work</h2>
    {featured.map((post) => (
      <Featured post={post}/>
    ))}
  </section>
  <section class="flex flex-col px-4 md:px-0">
    <h2 class="mx-auto pt-14">Other Work</h2>
    <div class="flex justify-center w-full my-8">
      <TagsContainer tags={uniqueTags()} />
    </div>
    <div id="gallery" class="gallery ">
      <ul
        class="masonry col-span-full pt-5 max-w-[1200px] mx-auto"
      >
        {
          projects.map((post, i) => (
            <GalleryItem galleryItem={`gallery-item-${i + 1}`} post={post} className="mx-4 my-4 gallery-card transition-all flex flex-col relative overflow-hidden border rounded-xl">
              <Image
                class="object-cover w-full h-full"
                width="1600"
                height="900"
                src={post.data.image.url}
                alt={post.data.image.alt}
              />
            </GalleryItem>

          ))
        }
      </ul>
    </div>
  </section>
</Content>
