---
import "../styles/article.scss";
import { Card } from "@/components/ui/card";
import Content from "@/layouts/content.astro";
import { getCollection } from "astro:content";
const projects = await getCollection("work");
---

<Content title="Work">
  <div class="flex flex-col px-4 md:px-0">
    <h1 class="mx-auto pt-14">Work</h1>
    <div class="article-grid">
      <div class="gallery wide-area">
        <div
          class="grid max-w-full md:grid-cols-3 md:grid-rows-auto mx-16 gap-y-8 gap-x-8 grid-flow-row"
        >
          {
            projects.map((post) => (
              <div class="gallery-card flex flex-col relative overflow-hidden border rounded-xl">
                <div class="py-0 h-full relative">
                  <img
                    class="object-cover w-full h-full"
                    src={post.data.image.url}
                    alt={post.data.image.alt}
                  />
                </div>
                {post.data.deviceHero ? (
                  <div class="p-8 mt-auto justify-end flex flex-col gap-4 rounded-b-xl w-full bg-background">
                    <h2 class="hover:underline">
                      <a href={`/work/${post.id}`}>{post.data.title}</a>
                    </h2>
                    <p>{post.data.description}</p>
                    <div class="flex gap-1 text-slate-400">
                      {post.data.tools &&
                        post.data.tools.map((tool, i) => (
                          <i
                            class={`devicon-${tool.toLowerCase()}-plain text-xl`}
                          />
                        ))}
                    </div>
                  </div>
                ) : (
                  <div class="flex h-full w-full absolute p-8 bottom-0">
                    <h2 class="hover:underline mt-auto">
                      <a href={`/work/${post.id}`}>{post.data.title}</a>
                    </h2>
                  </div>
                )}
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</Content>
