---
import "../styles/nav.css";
const links = [
  { to: "/", title: "Home" },
  { to: "/about/", title: "About" },
  { to: "/gallery/", title: "Work" },
];

---

<nav id="main" class="flex z-10 sticky top-0 border-b border-accent drop-shadow-xs">
  <ul class="flex mx-auto content-center">
    {
      links.map(({ to, title }) => (
        <li id={`${title.toLowerCase()}-link`} class={`tab ${to === Astro.url.pathname ? "active" : ""} `}>
          {to === Astro.url.pathname ? (<a href={to} class="active">{title}</a>) : (<a href={to}>{title}</a>)}
        </li>
      ))
    }
  </ul>
</nav>