---
import Footer from "@/components/Footer.astro";
import Base from "./base.astro";
import HeroImage from "@/components/HeroImage";
import ArticleGrid from "@/components/ArticleGrid";
const { title, frontmatter } = Astro.props;
---

<Base title={title}>
  <article class="flex flex-col px-4 pb-24 md:px-0 bg-accent">
    <h1 class="mx-auto py-14">{frontmatter.title}</h1>
      {
        frontmatter.deviceHero ? (
          <div class="standard-area block relative">
            <HeroImage
              client:only="react"
              imageURL={frontmatter.image.url}
              imageAlt={frontmatter.image.alt}
              pageTitle={frontmatter.title}
              mobile={frontmatter.mobile}
              mobileImgUrl={frontmatter.mobile?.url}
            />
          </div>
        ) : (
          <div class="mx-auto overflow-hidden aspect-video max-w-[1024px]">
            <img class="w-full h-full object-contain rounded-xl" src={frontmatter.image.url} alt={frontmatter.image.alt}/>
          </div>
        )
      }
    <div class="wide-area place-self-center max-w-[1024px] w-full pt-8 mx-auto">
      <ArticleGrid client:load gallery={frontmatter.gallery} tags={frontmatter.tags} tools={frontmatter.tools} description={frontmatter.description}>
        <slot />
      </ArticleGrid>
    </div>
  </article>
  <Footer />
</Base>
